// color
$main-color: #78a188;
$sub-color: #e78c68;
$bg-color-303030: #303030;
$bg-color-474747: #474747;
$bd-color-e1e1e1: #e1e1e1;
$success-color: #66ff99;
$failed-color: #ff6170;
$font-color-ffffff: #fff;

// size
$header-height: 10rem;
