// color
$main-color-green: #78a188;
$sub-color-orange: #e78c68;
$background-color: #303030;
$sub-background-color: #474747;
$border-color: #e1e1e1;
$success-color: #66ff99;
$fail-color: #ff6170;
$font-color: #fff;

// size
$header-height: 10rem;
