@use "@/assets/_variables.scss" as var;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  min-width: 320px;
  height: 100%;
  font-family: "Pretendard", sans-serif;
  font-size: 62.5%;
  background-color: var.$bg-color-303030;
  color: var.$font-color-ffffff;
}

@media (max-width: 1024px) {
  html {
    font-size: 50%;
  }
}

// @media (max-width: 768px) {
//   html {
//     font-size: 47%;
//   }
// }

#root {
  height: 100%;
}

ul,
ol {
  list-style: none;
}

button {
  font-family: "Pretendard", sans-serif;
  border: none;
  cursor: pointer;
}

a {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: var.$font-color-ffffff;
}

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 스크롤바 트랙 (배경) */
::-webkit-scrollbar-track {
  background: var.$bg-color-303030;
  border-radius: 10px;
}

/* 스크롤바 핸들 (움직이는 부분) */
::-webkit-scrollbar-thumb {
  background: var.$bg-color-474747;
  border-radius: 10px;
}

.page-bottom-padding {
  padding-bottom: 10rem;
}

.loading-screen {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var.$bg-color-303030;
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
  z-index: 9999;
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
  /* 프로그래스 바 스타일 */
  .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
    .progress {
      height: 100%;
      width: 0;
      background-color: var.$main-color;
      transition: width 0.1s ease-in-out;
    }
  }
  .logo {
    height: 8rem;
  }
}

.container {
  width: 100%;
  max-width: 128rem;
  padding: 0 4rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.section-area {
  margin-top: 10rem;
}

.main-title {
  margin-bottom: 4rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.movie-card {
  position: relative;
  .img-box {
    display: block;
    aspect-ratio: 2 / 3;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .detail-box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2.8rem;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    .title {
      padding-bottom: 1.2rem;
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
      word-break: keep-all;
      border-bottom: 1px solid;
      border-color: var.$bd-color-e1e1e1;
    }
    .overview {
      flex: 1;
      padding: 2rem 0;
      font-size: 1.6rem;
      line-height: 1.5;
      text-align: center;
      word-break: keep-all;
      overflow: hidden;
      position: relative;
      /* 페이드 효과 (아래에서 천천히 사라짐) */
      mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
      );
      -webkit-mask-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0) 100%
      );
    }
    .bottom-box {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 1.2rem;
      border-top: 1px solid;
      border-color: var.$bd-color-e1e1e1;
      .average {
        padding-left: 2.2rem;

        font-size: 1.8rem;
        font-weight: 500;
        background: url("/images/star.svg") no-repeat 0 50%;
      }
    }
    &:hover {
      opacity: 1;
      transition: opacity 0.3s;
    }
  }
}

.swiper {
  .swiper-nav-btn {
    width: 4rem;
    height: 4rem;
    font-size: 0;
    background: #fff no-repeat 50% 50% / 1.5rem 2.4rem;
    border-radius: 50%;
    opacity: 0.3;
    &.swiper-button-prev {
      background-image: url("/images/swiper_nav_prev.svg");
    }
    &.swiper-button-next {
      background-image: url("/images/swiper_nav_next.svg");
    }
    &:hover {
      opacity: 1;
    }
    &::after {
      display: none;
    }
    &.swiper-button-disabled {
      pointer-events: visible;
    }
  }

  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 1.2rem;
      height: 1.2rem;
      background-color: var.$main-color;
      border-radius: 0.6rem;
      opacity: 1;
      transition: all 0.3s;
    }
    .swiper-pagination-bullet-active {
      width: 2rem;
      background-color: var.$sub-color;
      transition: all 0.3s;
    }
  }
}

.com-btn {
  width: auto;
  height: 4rem;
  padding: 0 1.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  white-space: nowrap;
  background-color: var.$main-color;
  border-radius: 0.4rem;
  color: var.$font-color-ffffff;
  &:disabled {
    opacity: 0.5;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}

.com-inp {
  display: block;
  height: 4rem;
  width: 100%;
  padding: 0 1.2rem;
  font-size: 1.4rem;
  background-color: var.$bg-color-474747;
  border: 1px solid;
  border-color: var.$bd-color-e1e1e1;
  border-radius: 0.4rem;
  color: var.$font-color-ffffff;
  &::placeholder {
    color: #a3a2a2;
  }
  &:focus {
    background-color: #fff;
    border-color: var.$bg-color-303030;
    color: #000;
    outline: none;
  }
  // 🔴 유효성 검사 실패 (aria-invalid="true")
  &[aria-invalid="true"] {
    border-color: red;
    background-color: #ffe6e6;
    color: #000;
    animation: shake 0.3s ease-in-out;
  }

  // ✅ 유효성 검사 성공 (aria-invalid="false")
  &[aria-invalid="false"] {
    border-color: var.$main-color;
    background-color: #707e70;
    color: #fff;
  }
}

.no-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.2rem;
  p {
    font-weight: 500;
    text-align: center;
    word-break: keep-all;
    color: #fff;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* 파이어폭스에서의 초기화 방법 */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  .container {
    padding: 0 3%;
  }

  .main-title {
    margin-bottom: 2rem;
    font-size: 2.8rem;
  }
}
