@use "@/assets/_variables.scss" as var;

.home-page {
  // 메인슬라이드 - 평점 높은 영화
  .movie-top-rated-wrap {
    position: relative;
    .swiper-slide {
      > a {
        display: block;
      }
      .img-box {
        display: block;
        > img {
          width: 100%;
          filter: brightness(0.5);
        }
      }
      .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        .detail-box {
          width: 40rem;
          word-break: keep-all;
          .title {
            font-size: 4rem;
            font-weight: 900;
          }
          .overview {
            display: -webkit-box;
            margin-top: 2rem;
            font-size: 2rem;
            font-weight: 400;
            line-height: 1.5;
            word-break: keep-all;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }
    }
  }

  // 현재 날짜 기준
  .current-date {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    border-bottom: 1px solid;
    border-color: var.$border-color;
    > span {
      display: inline-block;
      padding: 3.6rem;
      font-size: 2rem;
      font-weight: 600;
      background: url("/images/clock.svg") no-repeat 0 50%;
    }
  }

  // 현재 상영중인 영화
  .movie-now-playing-wrap {
    .swiper {
      overflow: initial;
      .swiper-button-prev {
        left: -2rem;
      }
      .swiper-button-next {
        right: -2rem;
      }
    }
  }

  // 인기 영화
  .movie-popular-wrap {
    .movie-container {
      display: flex;
      flex-wrap: wrap;
      gap: 4rem;
      .movie-card {
        width: calc((100% - 3 * 4rem) / 4);
      }
      .load-more {
        width: 100%;
        height: 10px;
      }
    }
  }
}
