@use "@/assets/_variables.scss" as var;

.search-page {
  .search-inp-box {
    margin-top: 8rem;
    position: relative;
    input {
      width: 100%;
      height: 4.8rem;
      padding: 0 5.6rem 0 1.2rem;
      font-size: 1.8rem;
      background-color: var.$bg-color-474747;
      border: 1px solid;
      border-color: var.$bd-color-e1e1e1;
      border-radius: 0.8rem;
      color: var.$font-color-ffffff;
      &::placeholder {
        color: #a3a2a2;
      }
      &:focus {
        outline: none;
      }
    }
    .search-btn {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 4.8rem;
      height: 4.8rem;
      font-size: 0;
      background: url("/images/search.svg") no-repeat 50% 50%;
    }
  }
  .main-title {
    padding-bottom: 1.2rem;
    margin-top: 8rem;
    border-bottom: 1px solid;
    border-color: var.$bd-color-e1e1e1;
  }
  .search-result {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    .movie-card {
      width: calc((100% - 3 * 4rem) / 4);
    }
    .no-search-result {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      margin: 0 auto;
      font-size: 2rem;
      font-weight: 700;
    }
    .load-more-btn {
      width: 4.8rem;
      height: 4.8rem;
      margin: 0 auto;
      font-size: 0;
      background: url("/images/more.svg") no-repeat 100% 50%;
      color: var.$font-color-ffffff;
    }
  }
}
